
body {

  background-color: #ebebf1;
}
#word-wrapper {
  
    background-color:#f5c8f8;
    height: 200px;
    width:200px;
    color: #202020;
    margin: auto;
    margin-top: 40px;
        
  
  }
  
  
  #button-wrap{
    
    width:200px;
    margin: auto;
    margin-top:5px;
  }
  
  
  
  #selectDiv{
    
    width:200px;
    margin: auto;
    margin-top:10px;
    text-align:center;
  }
  
  select{
    
    width:100px;
  }
  
  #correct{
    margin-left:35px;
  }
  button{
    width: 40%;
  }
  